<html>
	<head>
	  <title></title>
	</head>
  
	<body>
		<h1>Loša kontrola pristupa (Broken Access Control)</h1>

		<br>
		<hr>
		<br>
		<h3><%= info %></h3>
		<br><br>
		<a href = "/">Idi nazad</a>

	</body>
  </html>
  