<html>
  <head>
    <title></title>
  </head>

  <body>
	<h1>CSRF</h1>
	<br>
	<br>
	<img id="image">
	<h3 id="id"></h3>

	Kada je session id ukraden, ukraden je tako što je napravljen HTTP GET na ranjivi URL, a isti je ubačen u img tag.
	<br>
	U slučaju kada je ranjivost onemogućena, svaki korisnik ima token koji napadač mora znati kako bi dobio njegov session_id.
	<br>
	<br>
	<hr>
	<br>
	<br>
	<div>
	</div>
	<br><br>
	<a href = "/">Idi nazad</a>
	<script>
		function getSessionId(token) {
			let data = {token: token, csrf: "<%= csrf %>"}
			let res = fetch('/id', {
				method: 'POST', headers: {
					'Content-Type': 'application/json',
				}, body: JSON.stringify(data)
			}).then(res => res.text()).then(res => {console.log(res); document.getElementById('id').innerText = 'Session ID: ' + res})
			console.log("********")
			return 
		}
		
		let token = "<%= token %>"
		document.getElementById("image").src = getSessionId(token)

	</script>
  </body>
</html>
