<html>
  <head>
    <title></title>
  </head>

  <body>
	<h1>SQL umetanje (SQL Injection)</h1>
	<h3>Ranjivost omogućena:	</h3>
	<a href = "/sql-injection-enabled">Testiraj</a>
	<h3>Ranjivost onemogućena:	</h3>
	<a href = "/sql-injection-disabled">Testiraj</a>
	<br>
	<br>
	<hr>
	<h1>Loša kontrola pristupa (Broken Access Control)</h1>
	<p>Prvo je potrebno logirati se:</p>
	<p>Postoje dva dostupna korisnika na koja se moze logirati: "user1" i "user2". Svima je password: "password".</p>
	<form action="/" method="post">
		<label for="username">Username:</label>
		<input id="username" name="username">
		<label for="password">Password:</label>
		<input id="password" type="password" name="password">
		<br><br>
		<input type="submit" value="Submit">
	</form>
	<%= login %>
	<br>
	<% if (ranjivost == "omogućena") {%> 
	<br>
	<a href = "/broken-access-control-enabled/user1">GOTO: user1 page</a>
	<br>
	<a href = "/broken-access-control-enabled/user2">GOTO: user2 page</a>
		<h3>Ranjivost je omogućena</h3>
		<form action="/disable" method="post">
			<input type="submit" value="Onemogući">
		</form>	
	<%} %>
	<% if (ranjivost == "onemogućena") {%> 
		<br>
	<a href = "/broken-access-control-disabled/user1">GOTO: user1 page</a>
	<br>
	<a href = "/broken-access-control-disabled/user2">GOTO: user2 page</a>
		<h3>Ranjivost je onemogućena</h3>
		<form action="/enable" method="post">
			<input type="submit" value="Omogući">
		</form>	
	<%} %>
	<br>
	<hr>
	<h1>Lažiranje zahtjeva na drugom sjedištu (Cross Site Request Forgery, CSRF)</h1>
	<p>Prvo je potrebno logirati se:</p>
	<p>Postoje dva dostupna korisnika na koja se moze logirati: "user1" i "user2". Svima je password: "password".</p>
	<form action="/" method="post">
		<label for="username">Username:</label>
		<input id="username" name="username">
		<label for="password">Password:</label>
		<input id="password" type="password" name="password">
		<br><br>
		<input type="submit" value="Submit">
	</form>
	<%= login %>
	<% if (ranjivost2 == "omogućena") {%> 
		<form id="form1" action="/csrf" method="post">
			<input type="hidden" name="token" value="<%= token %>"/>
			<input type="hidden" name="csrf" value="da"/>

			<h1><a href="javascript:;" onclick="document.getElementById('form1').submit();">Kliknite ovdje da osvojite 10000000 kuna!!!</a></h1>
		</form>
			<h3>Ranjivost je omogućena</h3>
			<form action="/disable2" method="post">
				<input type="submit" value="Onemogući">
			</form>	
		<%} %>
		<% if (ranjivost2 == "onemogućena") {%> 
			<form id="form2" action="/csrf" method="post">
				<input type="hidden" name="token" value="NO_TOKEN"/>
				<input type="hidden" name="csrf" value="ne"/>
				<h1><a href="javascript:;" onclick="document.getElementById('form2').submit();">Kliknite ovdje da osvojite 10000000 kuna!!!</a></h1>
			</form>
			<h3>Ranjivost je onemogućena</h3>
			<form action="/enable2" method="post">
				<input type="submit" value="Omogući">
			</form>	
		<%} %>	
	<br>
	<hr>
  </body>
</html>
