<html>
  <head>
    <title></title>
  </head>

  <body>
	<h1>SQL umetanje (SQL Injection)</h1>
	<br>
	<br>
	Pretraživanje pjesama po imenu izvođača.
	U okvir ispod potrebno je upisati ime izvođača te se kao rezultat ispišu njegove pjesme iz baze podataka.
	<br>
	U bazi su pohranjene pjesme dvojice izvođača, "Kendrick Lamar" i "Kanye West".
	<br>
	Za testiranje sql injectiona potrebno je upisati npr.: <i>' UNION select username, password, 1 from users where '1'='1</i>
	<br>
	Ovaj primjer je kombinacija sql injectiona unionom i tautologijim.
	<br>
	Također, mogao bi se koristiti napad ulančanim naredbama; npr: <i>'; DELETE from users where username = 'Mirko</i>
	<br>
	<hr>
	<br>
	<form action="/sql-injection-<%=type%>" method="post">
		<label for="artist">Ime izvođača:</label>
		<input id="artist" name="artist">
		<br><br>
		<input type="submit" value="Submit">
	</form>
	<br>
	<br><hr>
	<br><br>
	<br>
	<div>
		<%= songs %>
	</div>
	<br><br>
	<a href = "/">Idi nazad</a>

  </body>
</html>
